#timer-container {
  /* display: flex; */
  /* justify-content: center; */
  /* margin-top: 5vh; */
  width: 100vw;
  height: 100vh;
}

#timer-info-container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* position: relative; */
  /* position: absolute; */
  /* margin: auto; */
  /* vertical-align: center; */
}

#circular-timer {
  /* position: absolute; */
  /* display: flex; */
  transform: rotate(90deg);
}

.time {
  font-size: 25px;
}

.title {
  font-size: 20px;
}